%h2 Knee Implant
- semantic_form_for :knee_implant, @implant do |implant|
  - implant.inputs do
    = implant.input :knee_type, :as => :select, :label => 'Knee Type', :collection => KneeImplant::knee_types
    = implant.input :knee_thickness, :as => :select, :label => 'Knee Thickness', :collection => KneeImplant::knee_thicknesses
    = implant.input :tibia_type, :as => :select, :label => 'Tibia Type', :collection => KneeImplant::tibia_types
    = implant.input :tibia_diameter, :as => :select, :label => 'Tibia Diameter', :collection => KneeImplant::tibia_diameters
    = implant.input :femur_diameter, :as => :select, :label => 'Femur Diameter', :collection => KneeImplant::femur_diameters
    = implant.input :patella_size, :as => :select, :label => 'Patella Size', :collection => KneeImplant::patella_sizes
    = implant.input :patella_resurfaced, :as => :boolean, :label => 'Patella Resurfaced'
    = implant.input :cement_used, :as => :boolean, :label => 'Cement Used'
    = implant.input :spacer_used, :as => :boolean, :label => 'Spacer Used'
    = implant.input :notes, :as => :text, :label => 'Notes'
  - implant.buttons do
    = implant.commit_button