%table.trips
  %thead
    %tr
      %th Destination
      %th Start
      %th End
      %th &nbsp;
  %tbody
    - trips.each do |trip|
      %tr.trip
        %th= trip.destination
        %th= trip.start
        %th= trip.end
        %th
          = link_to "Edit", edit_trip_path(trip)
          = link_to "Delete", trip_path(trip), :method => :delete, :confirm => "Are you sure?"
