%table.trips
  %thead
    %tr
      %th Destination
      %th Facility
      %th Start
      %th End
      %th &nbsp;
  %tbody
    - trips.each do |trip|
      %tr.trip
        %td= link_to V1::TripDecorator.new(trip).destination, trip
        %td= trip.facility
        %td= trip.start_date
        %td= trip.end_date
        %td
          - if permitted_to? :edit, trip
            = link_to "Edit", edit_trip_path(trip)
          - if permitted_to? :destroy, trip
            = link_to "Delete", trip_path(trip), :method => :delete, :confirm => "Are you sure?"
