- content_for :title do
  = "Reports"
- content_for :subnavigation do
  %ul
    %li= link_to "Edit trip details", edit_trip_path(@trip)
    %li= link_to "Schedule", trip_schedule_path(@trip)
    %li= link_to "Patients", trip_patients_path(@trip)

- if @surgeon
  %h2= @surgeon

%table.summary_report
  %tbody
    - @trip.number_of_operation_days.times do |i|
      - day_num = i + 1
      %tr
        %td.title{ :valign => :top }= link_to "Day #{day_num}", day_report_trip_path(@trip, :day => day_num)
        %td{ :valign => :top }
          %h3 Patients
          %ul
            %li
              Female
              %span= @report["Day #{day_num}"]["Total Female"]
            %li
              Male
              %span= @report["Day #{day_num}"]["Total Male"]
            %li.subtotal
              Total Patients
              %span.subtotal= @report["Day #{day_num}"]["Total Patients"]
        %td{ :valign => :top }
          %h3 All Cases
          %ul
            - @report["Day #{day_num}"][:surgeries][:individual].each do |anatomy, count|
              - if count > 0
                %li
                  = anatomy.pluralize
                  %span= count
            %li.subtotal
              Total Cases
              %span.subtotal= @report["Day #{day_num}"][:surgeries][:total_cases]
        %td{ :valign => :top }
          %h3 Bilaterals
          %ul
            - @report["Day #{day_num}"][:surgeries][:bilateral].each do |anatomy, count|
              - if count > 0
                %li
                  = anatomy.pluralize
                  %span= count
        %td{ :valign => :top }
          %h3 Revision Cases
          %ul
            - @report["Day #{day_num}"][:surgeries][:revision].each do |anatomy, count|
              - if count > 0
                %li
                  = anatomy.pluralize
                  %span= count
    %tr.totals
      %td.title{ :valign => :top }= "Totals"
      %td{ :valign => :top }
        %h3 Patients
        %ul
          %li
            Female
            %span= @report[:totals]["Total Female"]
          %li
            Male
            %span= @report[:totals]["Total Male"]
          %li.subtotal
            Total Patients
            %span.subtotal= @report[:totals]["Total Patients"]
      %td{ :valign => :top }
        %h3 All Cases
        %ul
          - @report[:totals][:surgeries][:individual].each do |anatomy, count|
            - if count > 0
              %li
                = anatomy.pluralize
                %span= count
          %li.subtotal
            Total Cases
            %span.subtotal= @report[:totals][:surgeries][:total_cases]
      %td{ :valign => :top }
        %h3 Bilaterals
        %ul
          - @report[:totals][:surgeries][:bilateral].each do |anatomy, count|
            - if count > 0
              %li
                = anatomy.pluralize
                %span= count
      %td{ :valign => :top }
        %h3 Revision Cases
        %ul
          - @report[:totals][:surgeries][:revision].each do |anatomy, count|
            - if count > 0
              %li
                = anatomy.pluralize
                %span= count
