- content_for :title do
  Resend confirmation instructions
- content_for :subnavigation do
  = render :partial => "devise/shared/subnav"
= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name)) do |f|
  = devise_error_messages!
  = f.input :email, :label => 'Email'
  = f.button :submit, :label => "Resend confirmation instructions"