= semantic_form_for [@patient, @adverse_event] do |f|
  = f.inputs do
    = f.input :patient_id, :as => :hidden
    = f.input :case_id, :as => :hidden
    = f.input :entered_by_id, :as => :hidden
    = f.input :reason, :label => 'Reason'
    = f.input :note, :label => 'Note'
  = f.buttons do
    = f.commit_button