- content_for :title do
  = "Adverse Events for #{@patient}"
- content_for :subnavigation do
  %ul
    %li= link_to "Log new adverse event", new_patient_adverse_event_path(@patient)
- collection.each do |adverse_event|
  .adverse-event
    - if adverse_event.date_of_occurrence
      %h3== #{adverse_event.event_type} on #{adverse_event.date_of_occurrence}
    - else
      %h3= adverse_event.event_type
    - if adverse_event.patient_case
      .case== #{adverse_event.patient_case.body_part} - #{adverse_event.patient_case.operation}
    .notes== #{adverse_event.note}
    = link_to "Edit", edit_patient_adverse_event_path(@patient, adverse_event)
    = link_to "Delete", patient_adverse_event_path(@patient, adverse_event), :method => :delete, :confirm => "Are you sure?"
