#admin_nav
  - if permitted_to? :index, Patient.new
    %li= link_to_unless_current "Patients", patients_path
  - if permitted_to? :index, Trip.new
    %li= link_to_unless_current "Trips", trips_path
  - if permitted_to? :index, Facility.new
    %li= link_to_unless_current "Facilities", facilities_path
  - if permitted_to? :index, BodyPart.new
    %li= link_to_unless_current "Body Parts", body_parts_path
  - if permitted_to? :index, Disease.new
    %li= link_to_unless_current "Diseases", diseases_path
  - if permitted_to? :index, Procedure.new
    %li= link_to_unless_current "Procedures", procedures_path
  - if permitted_to? :index, Risk.new
    %li= link_to_unless_current "Risks", risks_path
  