#system_settings.menu_select
  %h3.toggle System Settings
  %ul.menu{ :style => "display: none;" }
    %li= link_to_unless_current "Patients", patients_path
    %li= link_to_unless_current "Trips", trips_path
    %li= link_to_unless_current "Facilities", facilities_path
    %li= link_to_unless_current "Body Parts", body_parts_path
    %li= link_to_unless_current "Diseases", diseases_path
    %li= link_to_unless_current "Procedures", procedures_path
    %li= link_to_unless_current "Risks", risks_path
    %li= link_to_unless_current "Users", users_path