#trip_nav.noprint
  /
    - Trip.next.each do |trip|
      - if permitted_to? :show, trip
        %ul
          %li.trip_name= link_to_unless_current trip, trip_path(trip)
          %li= link_to_unless_current "Schedule", trip_schedule_path(trip)
          %li= link_to_unless_current "Registrations", trip_registrations_path(trip)
  - Trip.current.each do |trip|
    - if permitted_to? :show, trip
      %ul
        %li.trip_name= link_to_unless_current trip, trip_path(trip)
        %li= link_to_unless_current "Today's Schedule", trip_schedule_path(trip)
        %li= link_to_unless_current "Registrations", trip_registrations_path(trip)
