- content_for :title do
  Users

= form_for :user, :url => trip_users_path(parent) do |f|
  = f.select :user_id, @available_users.map{ |u| [u.to_s, u.id] }, :include_blank => true
  = f.submit "Add to trip"
  = link_to "Create new user", new_user_path

%h2 Trip users
- @existing_users.each do |user|
  .user
    %p
      = user
      = link_to "Edit", edit_user_path(user)
      |
      = link_to "Remove", trip_user_path(parent,user), :method => :delete, :confirm => "Are you sure you want to remove the user from the trip?"

- content_for :script do
  :javascript
    $('#user_user_id').focus();