- content_for :title do
  = "#{parent} - Users"
- content_for :subnavigation do
  %ul
    %li=# link_to "New user", new_user_trip_path(parent)

= form_for :user, :url => trip_users_path(parent) do |f|
  = f.select :user_id, @available_users.map{ |u| [u.to_s, u.id] }, :include_blank => true
  = f.submit "Add User"

%h2 Trip users
- parent.users.each do |user|
  .user
    %p
      = user
      = link_to "Edit", edit_user_path(user)
      |
      = link_to "Remove", trip_user_path(parent,user), :method => :delete, :confirm => "Are you sure you want to remove #{user} from #{parent}?"
      