.diagnosis.snapshot[diagnosis]{ :class => "#{severity(diagnosis).downcase}" }
  = render :partial => "diagnoses/modal_form", :locals => { :diagnosis => diagnosis }
  - if diagnosis.xrays.present?
    .xrays
      - diagnosis.xrays.each do |xray|
        %span.enlarge
          .nav
            = link_to image_tag(xray.photo.url(:tiny), :alt => xray.to_s, :class => "xray"), xray.photo.url, :rel => "group", :title => xray.to_s
          
  %p.name
    = diagnosis
    - if diagnosis.revision?
      %span.asterisk (Revision)
    
  .nav= link_to("Review", edit_patient_diagnosis_path(diagnosis.patient,diagnosis), :class => "review", :id => "review_#{dom_id(diagnosis)}" )
