- semantic_form_for [@patient,@diagnosis], :html => { :multipart => true } do |f|
  - f.inputs do
    = f.input :body_part_id, :as => :select, :label => 'Body Part', :collection => BodyPart.all.collect{ |bp| [bp.to_s, bp.id] }
    = f.input :disease_id, :as => :select, :label => 'Disease', :collection => Disease.all.collect{ |d| [d.to_s, d.id] }
    = f.input :severity, :as => :radio, :label => "Severity", :collection => Diagnosis::severity_table.invert
    = f.input :assessed_date, :as => :datepicker, :label => "Assessed Date"
  #xrays
    %h3 X-Rays
    = render :partial => 'xray', :collection => @diagnosis.xrays, :locals => { :f => f }
  #new_xrays
  - if @diagnosis.new_record?
    = render :partial => 'xray', :object => Xray.new(:diagnosis => @diagnosis), :locals => { :f => f }
  - else
    = link_to_function 'Add x-ray', "$('#new_xrays').append('#{escape_javascript render :partial => 'xray', :object => Xray.new(:diagnosis => @diagnosis), :locals => { :f => f }}'); $(this).hide();"
  - f.buttons do
    = f.commit_button