- options ||= {}
- html_class = severity(diagnosis).downcase
- html_class << " revision" if diagnosis.revision?
- html_class << " #{options[:size]}" if options[:size].present?
.diagnosis.inline[diagnosis]{ :class => html_class, :context => options[:context] }
  .info
    %h3= diagnosis.body_part
    - if diagnosis.revision?
      %span.asterisk (Revision)
    %h4= diagnosis.disease
    .navigation.noprint
      %ul
        - if permitted_to? :edit, diagnosis
          %li= link_to "Edit diagnosis", edit_case_diagnosis_path(diagnosis.patient_case), :remote => !!options[:remote]
  .xrays
    - if diagnosis.xrays.present?
      = xray_preview(diagnosis.display_xray, options)
      - if diagnosis.xrays.size > 1
        =# link_to "More X-rays", diagnosis_xrays_path(diagnosis), :remote => true
        = link_to "More X-rays", diagnosis_xrays_path(diagnosis)
    - else
      - # TODO secure this
      = link_to "Add X-ray", new_diagnosis_xray_path(diagnosis)