- options ||= {}
- html_class = severity(diagnosis).downcase
- html_class << " revision" if diagnosis.revision?
- html_class << " #{options[:size]}" if options[:size].present?
.diagnosis.inline[diagnosis]{ :class => html_class, :context => options[:context] }
  - if diagnosis.xrays.present?
    .xrays
      - diagnosis.xrays.each do |xray|
        = xray_preview(xray, options)
  .info
    = formatted_title(diagnosis).html_safe
    - if diagnosis.revision?
      %p.asterisk (Revision)
    - if permitted_to? :edit, diagnosis
      %ul.nav
        %li= link_to "Edit diagnosis", edit_patient_diagnosis_path(diagnosis.patient,diagnosis), :remote => !!options[:remote]
        %li= link_to "Delete diagnosis", patient_diagnosis_url(diagnosis.patient,diagnosis), :method => :delete, :remote => true, :confirm => "Are you sure? This cannot be undone."
        - if options[:context] == :operation
          - if diagnosis.operations.empty?
            %li= link_to "Add operation", new_diagnosis_operation_path(diagnosis)
          - else
            - diagnosis.operations.each do |operation|
              - if operation.registration.present?
                %li= link_to "Edit operation", registration_operation_path(operation.registration,operation)
              - else
                %li= link_to "Edit operation", diagnosis_operation_path(diagnosis,operation)
