- content_for :title do
  Resend unlock instructions
- content_for :subnavigation do
  = render :partial => "devise/shared/subnav"
= simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name)) do |f|
  = devise_error_messages!
  = f.input :email, :label => 'Email'
  = f.button :submit, :label => "Resend unlock instructions", :value => "Resend unlock instructions"