= semantic_form_for patient_case, :remote => true do |f|
  = f.inputs :class => "patient_case_complexity" do
    - from_time = Time.now
    = f.input :complexity, :as => :select, :label => "Time", :collection => PatientCase::complexity_units.map{ |cu| [distance_of_time_in_words(from_time, from_time + (patient_case.complexity_minutes * cu.to_i).to_i.minutes, false, { :two_words_connector => ", " }), cu] }, :input_html => { :id => nil, :class => "submit_patient_case_complexity" }, :wrapper_html => { :id => "#{dom_id(patient_case)}_complexity" }


%ul.nav
  - if permitted_to? :authorize, patient_case
    - if !patient_case.authorized?
      %li= link_to "Approve", authorize_trip_patient_case_path(@trip, patient_case), :method => :put
    - else
      %li= link_to "Return to waiting", deauthorize_trip_patient_case_path(@trip, patient_case), :method => :put
  - if permitted_to? :destroy, patient_case.patient
    %li.delete= link_to "Edit patient record", edit_patient_path(patient_case.patient)
  - if permitted_to? :edit, patient_case
    %li= link_to "Edit case", trip_patient_case_path(@trip, patient_case)
  - if permitted_to? :destroy, patient_case
    %li.delete= link_to "Delete case", trip_patient_case_path(@trip, patient_case), :method => :delete, :confirm => "Are you sure?"