- # TODO this is very similar to inline_patient_case view. dry it up!.
- patient = patient_case.patient
.patient_case[patient_case]
  .patient
    .image= patient_image(patient, :small)
    .primary.name
      %h3= patient
      %h4
        - if permitted_to? :show, patient_case
          = link_to "Case ##{patient_case.id}", trip_patient_case_path(patient_case.trip, patient_case)
        - else
          = "Case ##{patient_case.id}"
    .secondary.demographic
      = render :partial => "patients/shared/patient_demographic", :locals => { :patient => patient }
    .navigation.noprint
      = render :partial => "patient_cases/summary/action", :locals => { :patient_case => patient_case }
  - if patient.has_medical_detail?
    .medical_details.supplemental
      %p.fake_link.toggle= "Full medical detail"
      .details{ :style => "display: none;" }
        = render :partial => "patients/medical_details", :locals => { :patient => patient, :hide => true }
  .section.treatment
    .title_header
      %h3.diagnosis Diagnosis / Pre-Op
      %h3.operation Operation
    - diagnoses = patient_case.authorized? ? patient_case.diagnoses : patient_case.patient.diagnoses
    - diagnoses.each do |diagnosis|
      .diagnosis_and_operation
        .diagnosis
          = render :partial => "diagnoses/inline", :object => diagnosis, :as => :diagnosis, :locals => { :options => { :remote => true, :size => :tiny, :context => :patient_case } }
        .operation
          - if diagnosis.operations.empty?
            = link_to "New operation for this diagnosis", new_diagnosis_operation_path(diagnosis)
          - else
            - diagnosis.operations.each do |operation|
              = render :partial => "operations/inline", :object => operation, :as => :operation, :locals => { :options => { :size => :tiny } }