= semantic_form_for [parent,@xray], :html => { :multipart => true } do |f|
  = f.semantic_errors
  = f.input :operation_id, :as => :hidden
  = f.input :diagnosis_id, :as => :hidden
  = f.inputs do
    = f.input :photo, :as => :file, :label => "Photo"
  = f.buttons do
    = f.commit_button
