- url = @parent.is_a?(PatientCase) ? case_xrays_path(@parent) : operation_xrays_path(@parent)
= semantic_form_for [@parent,resource], :url => url, :html => { :multipart => true } do |f|
  = f.semantic_errors
  = f.input :operation_id, :as => :hidden
  = f.input :patient_case_id, :as => :hidden
  = f.inputs do
    = f.input :photo, :as => :file, :label => "Photo"
  = f.inputs do
    = f.input :primary, :as => :boolean, :label => "Mark as most important x-ray", :hint => "This will be the x-ray used in displays and print-outs."
  = f.buttons do
    = f.commit_button
