= simple_form_for [@patient,@risk_factor], :html => { :multipart => true } do |f|
  =# f.semantic_errors
  = f.input :patient_id, :as => :hidden, :input_html => { :value => @patient.id }
  = f.input :risk_id, :as => :select, :label => 'Risk', :collection => Risk.all.collect{ |r| [r.to_s, r.id] }
  = f.input :severity, :as => :radio, :label => "Severity", :collection => RiskFactor::severity_table.invert
  = f.button :submit