- content_for :title do
  = "Edit #{@user}"
- content_for :subnavigation do
  %ul
    %li= link_to "Users index", users_path

= simple_form_for(@user) do |f|
  =# f.semantic_errors
  = f.input :name_first, :label => 'First Name'
  = f.input :name_last, :label => 'Last Name'
  = f.input :email, :label => 'Email'
  = f.input :password, :as => :password, :label => 'Password', :hint => "leave blank if you don't want to change password"
  = f.input :password_confirmation, :as => :password, :label => 'Confirm Password'
  - if permitted_to? :administer, @user
    = f.input :authorized, :as => :boolean, :label => "System login authorized"
  - if permitted_to? :administer, @user
    - @selectable_roles.each do |role|
      = f.input "has_role_#{role}", :as => :boolean, :label => "#{role.to_s.titlecase}"
  = f.input :language, :as => :select, :collection => User::languages.invert
  = f.button :submit