- content_for :title do
  Users
%table.users
  %thead
    %tr
      %th Name
      %th Email
      %th Last Login
      %th &nbsp;
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.last_sign_in_at
        %td
          = link_to "Edit account", edit_user_path(user)
          = link_to "Delete account", user_path(user), :method => :delete, :confirm => "Are you sure?"