- content_for :title do
  Register
- form_for @user do |f|
  = error_messages_for :user
  %div
    = f.label :login, "Login"
    = f.text_field :login
  %div
    = f.label :password, "Password"
    = f.password_field :password
  %div
    = f.label :password_confirmation, "Verify Password"
    = f.password_field :password_confirmation
  .buttons
    = f.submit "Register"