- content_for :title do
  Register
- semantic_form_for @user do |f|
  - f.inputs do
    = f.input :name_first, :label => 'First Name'
    = f.input :name_last, :label => 'Last Name'
    = f.input :login, :label => 'Login'
    = f.input :password, :as => :password, :label => 'Password'
    = f.input :password_confirmation, :as => :password, :label => 'Verify Password'
  - f.buttons do
    = f.commit_button 'Register'