.registration
  = render :partial => "patients/inline_summary", :locals => { :patient => registration.patient }
  %ul.nav
    %li= link_to "Approve", authorize_trip_registration_path(@trip, registration), :method => :put if !registration.authorized?
    %li= link_to "Return to waiting", deauthorize_trip_registration_path(@trip, registration), :method => :put if registration.authorized?
    - if permitted_to? :destroy, registration.patient
      %li.delete= link_to "Edit patient record", edit_patient_path(registration.patient)
    - if permitted_to? :destroy, registration
      %li.delete= link_to "Delete registration", trip_registration_path(@trip, registration), :method => :delete, :confirm => "Are you sure?"
