- patient = registration.patient
.registration[registration]
  %h2=# "##{registration.id} - #{patient}"
  .patient
    .info
      = patient_image(patient, :small)
      %dl.demographic
        %dt Gender:
        %dd= patient_gender(patient)
        %dt Birth:
        %dd= birth_date_and_age(patient)
        %dt Height:
        %dd= "#{patient_height(patient, false)} (#{patient_height(patient, true)})"
        %dt Weight:
        %dd= "#{patient_weight(patient, false)} (#{patient_weight(patient, true)})"
    .diagnoses
      %h3 Diagnoses
      -# show a list of up to 3 individual diagnoses. link-off to patient/show if longer.
      - for i in 0..registration.diagnoses.size - 1 do
        - diagnosis = registration.diagnoses[i]
        - break if i > 2
        = render :partial => "diagnoses/editable_snapshot", :locals => { :diagnosis => diagnosis }
        -# TODO investigate how this view renders out when > 3 xrays exist.

      - if registration.diagnoses.size > 3
        = link_to "+ #{registration.diagnoses.size - 3} more", patient_path(patient), :class => "more"
    - if patient.has_medical_detail?
      .medical_details.supplemental
        %p.fake_link.toggle= "Toggle full detail"
        .details{ :style => "display: none;" }
          = render :partial => "patients/medical_details", :locals => { :patient => patient, :hide => true }

  .action
    = semantic_form_for registration, :remote => true do |f|
      = f.inputs :class => "registration_complexity" do
        - from_time = Time.now
        = f.input :complexity, :as => :select, :label => "Time", :collection => Registration::complexity_units.map{ |cu| [distance_of_time_in_words(from_time, from_time + (registration.complexity_minutes * cu.to_i).to_i.minutes, false, { :two_words_connector => ", " }), cu] }, :input_html => { :id => nil, :class => "submit_registration_complexity" }, :wrapper_html => { :id => "#{dom_id(registration)}_complexity" }


    %ul.nav
      - if permitted_to? :authorize, registration
        - if !registration.authorized?
          %li= link_to "Approve", authorize_trip_registration_path(@trip, registration), :method => :put
        - else
          %li= link_to "Return to waiting", deauthorize_trip_registration_path(@trip, registration), :method => :put
      - if permitted_to? :destroy, registration.patient
        %li.delete= link_to "Edit patient record", edit_patient_path(registration.patient)
      - if permitted_to? :edit, registration
        %li= link_to "Edit registration", trip_registration_path(@trip, registration)
      - if permitted_to? :destroy, registration
        %li.delete= link_to "Delete registration", trip_registration_path(@trip, registration), :method => :delete, :confirm => "Are you sure?"