- content_for :title do
  = "#{@trip} - Patient Registrations"
- content_for :subnavigation do
  %ul.subnavigation
    - if permitted_to? :create, Registration.new(:trip => @trip)
      %li= link_to "Add registration", new_trip_registration_path(@trip)
    -# if permitted_to? (TODO: edit schedule auth mechanism)
    %li= link_to "Schedule", trip_schedule_path(@trip)
.list_nav
  - form_tag(trip_registrations_path(@trip), {:method => :get, :class => "list_search"}) do
    = label_tag :search, "Search"
    = text_field_tag :search, params[:search]
    = submit_tag "Go"
    - if params[:search].present?
      = link_to "Clear search", trip_registrations_path(@trip)
#registration_list
  %ul
    %li= link_to "Approved (#{@authorized_registrations.size})", "#approved"
    %li= link_to "Waiting (#{@unauthorized_registrations.size})", "#waiting"
  #approved
    = render :partial => "registrations/summary/record", :collection => @authorized_registrations, :as => :registration
  #waiting
    = render :partial => "registrations/summary/record", :collection => @unauthorized_registrations, :as => :registration

- content_for :script do
  = javascript_include_tag "lib/jquery.fancybox.overrides"
  :javascript
    $(document).ready(function(){
      $(".dialog-form").dialog({
        autoOpen: false,
        height: 400,
        width: 750,
        modal: true
      });

      $(".diagnosis .nav .review").live('click', function(event) {
        diagnosis = $(this).attr("id").match(/[^review_].*/);
        $("#form_" + diagnosis).dialog("open");
        return false;
      });

      $(".submit_registration_complexity").live('change', function(event) {
        $(this).closest("form").submit();
      });

    });
