- content_for :title do
  = "#{@registration}"
- content_for :subnavigation do
  %ul.subnavigation
    %li= link_to "Patient Record", patient_path(@registration.patient)
.section.patient
  = render :partial => "patients/shared/snapshot", :locals => { :patient => @registration.patient }
.section
  %h2 Diagnoses
  = render :partial => "diagnoses/inline", :collection => @registration.diagnoses, :as => :diagnosis, :locals => { :options => { :context => :operation, :size => :tiny, :remote => true } }