- content_for :title do
  = "#{@registration}"
.section.patient
  = render :partial => "patients/shared/snapshot", :locals => { :patient => @registration.patient }
.section
  %h2 Diagnoses
  - @registration.diagnoses.each do |diagnosis|
    .diagnosis
      %p= diagnosis
      - if diagnosis.operations.empty?
        %p= link_to "Add Operation", new_diagnosis_operation_path(diagnosis)
      - else
        %ul
          - diagnosis.operations.each do |operation|
            %li= link_to "Edit Operation", diagnosis_operation_path(diagnosis,operation)