- patient = registration.patient
.registration[registration]
  .image= patient_image(patient, :small)
  .patient
    %h3= patient
    %h4= "Registration ##{registration.id}"
    = render :partial => "patients/shared/patient_demographic", :locals => { :patient => patient }
  .treatment
    .inline_diagnosis_list
      %h4 Diagnoses (Pre-op)
      - for i in 0..registration.diagnoses.size - 1 do
        - diagnosis = registration.diagnoses[i]
        .diagnosis.snapshot[diagnosis]{ :class => "#{severity(diagnosis).downcase}" }
          - if diagnosis.xrays.present?
            .xrays
              - diagnosis.xrays.each do |xray|
                = xray_thumbnail(xray)
          %p.name
            = diagnosis
            - if diagnosis.revision?
              %span.asterisk (Revision)
          .nav
          - if diagnosis.operations.empty?
            = link_to "Add Operation", new_diagnosis_operation_path(diagnosis)
          - else
            - diagnosis.operations.each do |operation|
              = link_to "Edit Operation", edit_diagnosis_operation_path(diagnosis, operation)

          
  .navigation.noprint
    %ul
      - if registration.operations.present?
        %li= link_to "Summary Report", registration
  - if patient.has_medical_detail?
    .medical_details.supplemental
      %p.fake_link.toggle= "Full medical detail"
      .details{ :style => "display: none;" }
        = render :partial => "patients/medical_details", :locals => { :patient => patient, :hide => true }