- # TODO this is very similar to registrations/record view. dry it up!.
- patient = registration.patient
.registration[registration]
  .patient
    .image= patient_image(patient, :small)
    .primary.name
      %h3= patient
      %h4
        - if permitted_to? :show, registration
          = link_to "Registration ##{registration.id}", trip_registration_path(registration.trip, registration)
        - else
          = "Registration ##{registration.id}"
    .secondary.demographic
      = render :partial => "patients/shared/patient_demographic", :locals => { :patient => patient }
    .navigation.noprint
      %ul
        - if permitted_to? :unschedule, registration
          %li= link_to "Remove from schedule", unschedule_registration_path(registration), :method => :put, :confirm => "Are you sure? This patient's registration will be removed from the schedule and will need to be rescheduled for an operation to take place."
        - if permitted_to? :destroy, registration
          %li.delete= link_to "Delete registration", registration_path(registration), :method => :delete, :confirm => "Are you sure? You want to do this? This will completely delete this patient's registration for the trip."
        - if permitted_to? :edit, registration.patient
          %li= link_to "Edit patient", edit_patient_path(registration.patient)
        %li= link_to "Physical Therapy", registration_physical_therapies_path(registration)

      /   - if registration.operations.present?
      /     %li= link_to "Summary Report", registration
  - if patient.has_medical_detail?
    .section.medical_details.supplemental
      %p.fake_link.toggle= "Full medical detail"
      .details{ :style => "display: none;" }
        = render :partial => "patients/medical_details", :locals => { :patient => patient, :hide => true }
  .section.treatment
    .title_header
      %h3.diagnosis Diagnosis / Pre-Op
      %h3.operation Operation
    - registration.diagnoses.each do |diagnosis|
      .diagnosis_and_operation
        .diagnosis
          = render :partial => "diagnoses/inline", :object => diagnosis, :as => :diagnosis, :locals => { :options => { :remote => true, :size => :tiny, :context => :registration } }
        .operation
          - if diagnosis.operations.empty?
            = link_to "New operation for this diagnosis", new_diagnosis_operation_path(diagnosis)
          - else
            - diagnosis.operations.each do |operation|
              = render :partial => "operations/inline", :object => operation, :as => :operation, :locals => { :options => { :size => :tiny } }