.registration
  .patient
    = patient_image(registration.patient, :small)
    %h3= registration.patient
  .procedure
    %p.body_part= registration.body_part_list
    %ul
      - if registration.operations.empty?
        %li= link_to "Add Operation", new_registration_operation_path(registration)
      - else
        %li= link_to "Edit Operation", registration_operation_path(registration.operations.first)
      %li= link_to "Summary Report", "#"