.sortable[patient_case]
  .patient
    %h3= patient_case.patient
    %p= "Case #{patient_case.id}"
  .procedure
    /
      .unschedule= link_to_function "Unschedule", ""
    .part
      = patient_case.body_part
      - if patient_case.revision?
        %span.asterisk [Revision]
    .complexity= patient_case.time_in_words