.patient
  %h3= registration.patient
  %p= "Registration #{registration.id}"
.procedure
  /
    .unschedule= link_to_function "Unschedule", ""
  .part= registration.body_part_list
  .complexity= registration.time_in_words