.sortable[registration]
  .demographic
    %h3= registration.patient
    %p= link_to "Registration #{registration.id}", trip_registration_path(registration.trip, registration)
    - if permitted_to? :destroy, registration
      %p.delete= link_to "Delete registration", registration_path(registration), :method => :delete, :confirm => "Are you sure? You want to do this? This will completely delete this patient's registration for the trip."
    
  .medical
    .part
      = registration.body_part_list
      - if registration.revision?
        %span.asterisk [Revision]
    .complexity= registration.time_in_words
    /
      .xray= link_to_function "Review x-ray", ""