.sortable[appointment]
	.patient
		.identifier
			.record_id= appointment.patient.id
			.other_id= appointment.patient.other_id
		.description
			.name
				- if defined?(links) && !links
					= appointment.patient
				- else
					= link_to appointment.patient, trip_patients_path(@trip, :patient_id => appointment.patient.id)
			.case= appointment