- content_for :title do
  = "#{@trip} - Edit Schedule"

%ul#room_toggle
  %li.header Show:
  - @rooms.each do |room|
    %li{ :id => "show_#{dom_id(room)}" }= link_to_function room, "$('#schedule').find('.#{dom_id(room)}').removeClass('hide'); $(this).closest('li').addClass('hide');"

#schedule_edit

  #source
    .header
      %h2= "Unscheduled (#{@to_schedule.size})"
      = label_tag :filter, "Filter"
      = text_field_tag :filter, nil, :id => "unscheduled_filter"
    #unscheduled.registrations.connectedSortable
      - @to_schedule.each do |registration|
        .sortable[registration]
          = render :partial => "schedule/registration_unscheduled", :locals => { :registration => registration }

  %table#schedule
    %thead
      %tr
      %th &nbsp;
      - @rooms.each do |room|
        %th{ :id => "#{dom_id(room)}_header", :class => "#{dom_id(room)} hide" }
          = room
          %span.fake_link.toggle
            = link_to_function "hide", "$('#show_#{dom_id(room)}').removeClass('hide'); $('#schedule').find('.#{dom_id(room)}').addClass('hide');"
    %tbody
      - @number_of_days.times do |i|
        - day_num = i + 1
        %tr.day
          %td.indicator
            = "Day #{day_num}"
          - @rooms.each do |room|
            - registrations = @trip.registrations.room(room.id).day(day_num)
            %td{ :class => "day_#{day_num} #{dom_id(room)} hide" }
              .room.connectedSortable{ :class => "day_#{day_num} #{dom_id(room)}", :id => "day_#{day_num}_#{dom_id(room)}" }
                - registrations.each do |registration|
                  .sortable[registration]
                    = render :partial => "schedule/registration_scheduled", :locals => { :registration => registration }

- content_for :script do
  %script{ :type => "text/html", :name => "registration_unscheduled_template"}
    = render :partial => "schedule/registration_unscheduled_template"
  
  %script{ :type => "text/html", :name => "registration_scheduled_template"}
    = render :partial => "schedule/registration_scheduled_template"

- content_for :script do
  = javascript_include_tag "lib/schedule.js"