- content_for :title do
  Edit Schedule

%ul#room_toggle
  %li.header Show:
  %li#show_unscheduled.hide= link_to_function 'Unscheduled', "$('#unscheduled').closest('.wrapper').toggle(); $('#unscheduled').closest('.wrapper').toggleClass('hide'); $('#show_unscheduled').addClass('hide');"
  - @rooms.each do |room|
    %li{ :id => "show_#{dom_id(room)}" }= link_to_function room, "$('##{dom_id(room)}').closest('.wrapper').toggle(); $('##{dom_id(room)}').closest('.wrapper').toggleClass('hide'); $('#show_#{dom_id(room)}').addClass('hide')"

#schedule_edit
  .wrapper.visible
    .header
      %h2 Unscheduled
      %p= link_to_function 'hide', "$(this).closest('.wrapper').addClass('hide'); $('#show_unscheduled').toggleClass('hide');"
    #unscheduled.patient_cases.connectedSortable
      - @unscheduled.each do |patient_case|
        .sortable[patient_case]= render :partial => "patient_cases/patient_case_snapshot", :locals => { :patient_case => patient_case }
  - @rooms.each do |room|
    .wrapper.hide
      .header
        %h2= room
        %p= link_to_function 'hide', "$(this).closest('.wrapper').addClass('hide'); $('#show_#{dom_id(room)}').toggleClass('hide');"
      .room.connectedSortable[room]
        - @trip.patient_cases.room(room.id).each do |patient_case|
          .sortable[patient_case]= render :partial => "patient_cases/patient_case_snapshot", :locals => { :patient_case => patient_case }

- content_for :script do
  = javascript_include_tag "lib/schedule.js"

- content_for :script do
  %script{ :type => "text/html", :name => "patient_case_snapshot_template"}
    {{#patient_cases}}
    .patient_case.sortable{ :id => "patient_case_{{id}}" }
      .patient_case.snapshot{ :class => "{{class}}" }
        .details
          %h3 {{patient}}
          %dl
            %dt Body Part(s)
            %dd {{body_part}}
            {{#location}}
            %dt Location
            %dd {{location}}
            {{/location}}
            %dt Case #
            %dd {{id}}
    {{/patient_cases}}
    {{^patient_cases}}
    .patient_case
      %span.no-results No cases found.
    {{/patient_cases}}