- content_for :title do
  = "#{@trip} - Schedule - Day #{@day}"
- content_for :subnavigation do
  %ul
    %li= link_to "Full schedule", trip_schedule_path(@trip)
    %li= link_to "Edit schedule", edit_trip_schedule_path(@trip)

- if @number_of_rooms == 0
  %p Trip must have room availability set before it can be scheduled.
- else
  #show_schedule_list
    %ul
      - (1..@number_of_rooms).each do |room_number|
        %li= link_to "Room #{room_number}", "#room_#{room_number}"
    - (1..@number_of_rooms).each do |room_number|
      - case_groups = @trip.case_groups.room(room_number).day(@day)
      .case_group_list.day{ :id => "room_#{room_number}" }
        %h2= "Room #{room_number}"
        %p= link_to "Show all days for Room #{room_number}", trip_schedule_path(@trip, :room_number => room_number)

        #patient_cases.patient_case_list
          - case_groups.each do |case_group|
            = render :partial => "patient_cases/summary/record", :collection => case_group.patient_cases, :as => :patient_case

- content_for :script do
  = javascript_include_tag "lib/jquery.fancybox.overrides"
  :javascript
    $(document).ready(function(){
      $(".submit_patient_case_complexity").live('change', function(event) {
        $(this).closest("form").submit();
      });
    });