- content_for :title do
  Schedule
- content_for :subnavigation do
  %ul
    %li= link_to "Edit schedule", edit_trip_schedule_path(@trip)

- if @number_of_rooms == 0
  %p Trip must have room availability set before it can be scheduled.
- else
  %ul#room_toggle.noprint
    %li.header Show:
    - (1..@number_of_rooms).each do |room_number|
      %li.hide{ :id => "show_room_#{room_number}" }= link_to_function "Room #{room_number}", "$('#show_schedule').find('.room_#{room_number}').removeClass('hide'); $(this).closest('li').addClass('hide');"

  %table.schedule#show_schedule
    %thead
      %th
      - (1..@number_of_rooms).each do |room_number|
        %th{ :id => "room_#{room_number}_header", :class => "room_#{room_number}" }
          %p
            = "Room #{room_number}"
            %span.fake_link.toggle.noprint
              = link_to_function "hide", "$('#show_room_#{room_number}').removeClass('hide'); $('#show_schedule').find('.room_#{room_number}').addClass('hide');"
          %p.noprint= link_to "Room schedule", trip_schedule_path(@trip, :room_number => room_number)
    %tbody
      - @number_of_days.times do |i|
        - day_num = i + 1
        %tr.day
          %td.indicator
            %p.day_num= "Day #{day_num}"
            %p.noprint= link_to "Day schedule", trip_schedule_path(@trip, :day => day_num)
          - (1..@number_of_rooms).each do |room_number|
            - case_groups = @trip.case_groups.room(room_number).day(day_num)
            %td{ :class => "day_#{day_num} room_#{room_number}" }
              %ol.case_group
                - case_groups.each do |case_group|
                  %li.case_group
                    %p.name
                      = case_group.patient.to_s(:with_id => true)
                      %ul
                        - case_group.patient_cases.each do |patient_case|
                          %li= link_to "Case ##{patient_case.id} - #{patient_case.body_part}", trip_case_path(@trip, patient_case)