- content_for :title do
  = "#{@trip} - Schedule"
- content_for :subnavigation do
  %ul
    %li= link_to @trip, trip_path(@trip)
    %li= link_to "Edit schedule", edit_trip_schedule_path(@trip)

%ul#room_toggle.noprint
  %li.header Show:
  - @rooms.each do |room|
    %li.hide{ :id => "show_#{dom_id(room)}" }= link_to_function room, "$('#show_schedule').find('.#{dom_id(room)}').removeClass('hide'); $(this).closest('li').addClass('hide');"

%table.schedule#show_schedule
  %thead
    %th
    - @rooms.each do |room|
      %th{ :id => "#{dom_id(room)}_header", :class => "#{dom_id(room)}" }
        %p
          = room
          %span.fake_link.toggle.noprint
            = link_to_function "hide", "$('#show_#{dom_id(room)}').removeClass('hide'); $('#show_schedule').find('.#{dom_id(room)}').addClass('hide');"
        %p.noprint= link_to "Room schedule", trip_schedule_path(@trip, :room => room.id)
  %tbody
    - @number_of_days.times do |i|
      - day_num = i + 1
      %tr.day
        %td.indicator
          %p.day_num= "Day #{day_num}"
          %p.noprint= link_to "Day schedule", trip_schedule_path(@trip, :day => day_num)
        - @rooms.each do |room|
          - patient_cases = @trip.patient_cases.room(room.id).day(day_num)
          %td{ :class => "day_#{day_num} #{dom_id(room)}" }
            %ol.patient_cases
              - patient_cases.each do |patient_case|
                %li.patient_case
                  %p.name
                    = link_to patient_case.patient, trip_case_path(@trip, patient_case)
                    - if patient_case.revision?
                      %span.asterisk [Revision]
                  %p.body_part= patient_case.body_part