- content_for :title do
  = "#{@trip} - Schedule - Day #{@day}"
- content_for :subnavigation do
  %ul.subnavigation
    %li= link_to "Full schedule", trip_schedule_path(@trip)

- @rooms.each do |room|
  - registrations = @trip.registrations.room(room.id).day(@day)
  .registration_list.day
    %h2= room
    = render :partial => "schedule/inline_registration", :as => :registration, :collection => registrations
