- content_for :title do
  = "Schedule"
- content_for :subnavigation do
  - if permitted_to? :schedule, @trip
    %ul
      %li= link_to "Edit schedule", edit_trip_schedule_path(@trip)
  %h3 Day Schedules
  %ul
    - @number_of_days.times do |i|
      - day_num = i + 1
      %li= link_to "Day #{day_num}", trip_schedule_path(@trip, :day => day_num)

  %br
  %h3 Room Schedules
  %ul
    - (1..@number_of_rooms).each do |room_number|
      %li= link_to "Room #{room_number}", trip_schedule_path(@trip, :room_number => room_number)


- if @number_of_rooms == 0
  %p Trip must have room availability set before it can be scheduled.
- else
  %ul#room_toggle.noprint
    %li.header Show:
    - (1..@number_of_rooms).each do |room_number|
      %li.hide{ :id => "show_room_#{room_number}" }= link_to_function "Room #{room_number}", "$('#show_schedule').find('.room_#{room_number}').removeClass('hide'); $(this).closest('li').addClass('hide');"
    - (1..@number_of_days).each do |day_number|
      %li.hide{ :id => "show_day_#{day_number}" }= link_to_function "Day #{day_number}", "$('#show_schedule').find('.day_#{day_number}').removeClass('hide'); $(this).closest('li').addClass('hide');"

  %table.schedule#show_schedule
    %thead
      %th Day
      - (1..@number_of_rooms).each do |room_number|
        %th{ :id => "room_#{room_number}_header", :class => "room_#{room_number}" }
          %p
            = "Room #{room_number}"
            %span.fake_link.toggle.noprint
              = link_to_function "hide", "$('#show_room_#{room_number}').removeClass('hide'); $('#show_schedule').find('.room_#{room_number}').addClass('hide');"
    %tbody
      - @number_of_days.times do |i|
        - day_num = i + 1
        %tr.day{class: "day_#{day_num}"}
          %td.indicator
            %p.day_num= "#{day_num}"
            %span.fake_link.toggle.noprint
              = link_to_function "hide", "$('#show_day_#{day_num}').removeClass('hide'); $('#show_schedule').find('.day_#{day_num}').addClass('hide');"

          - (1..@number_of_rooms).each do |room_number|
            - appointments = @trip.appointments.room(room_number).day(day_num)
            %td{ :class => "day_#{day_num} room_#{room_number}" }
              %ol.appointments.scheduled
                - appointments.each do |appointment|
                  %li= render :partial => "schedule/scheduled", :locals => { :appointment => appointment, :links => false }
