- content_for :title do
  = "#{@trip} - Schedule"
- content_for :subnavigation do
  %ul.subnavigation
    %li= link_to @trip, trip_path(@trip)
    %li= link_to "Edit Schedule", edit_trip_schedule_path(@trip)

%table.schedule#show_schedule
  %thead
    %th
    - @rooms.each do |room|
      %th= "#{room} #{link_to "room schedule", trip_schedule_path(@trip, :room => room.id)}".html_safe
  %tbody
    - @number_of_days.times do |i|
      - day_num = i + 1
      %tr.day
        %td.indicator
          = "Day #{day_num}"
        - @rooms.each do |room|
          - registrations = @trip.registrations.room(room.id).day(day_num)
          %td{ :class => "day_#{day_num} #{dom_id(room)}" }
            %ol.registrations
              - registrations.each do |registration|
                %li.registration
                  %p= link_to registration.patient, registration
                  %p.body_part= registration.body_part_list