- content_for :title do
  Facilities
- content_for :subnavigation do
  %ul.subnavigation
    - if permitted_to? :create, Facility.new
      %li= link_to_unless_current "New Facility", new_facility_path
- @facilities.each do |facility|
  .facility.section
    %h2
      = facility
      - if facility.one_line_address.present?
        = " - "+facility.one_line_address
    %ul.subnavigation
      - if permitted_to? :edit, facility
        %li= link_to_unless_current "Edit Facility", edit_facility_path(facility)
        %li= link_to_unless_current "Rooms", facility_rooms_path(facility)