- content_for :title do
  = "Facility: #{@facility}"
- content_for :subnavigation do
  %ul
    %li= link_to "Back to facilities", facilities_path
    - if permitted_to? :create, Room.new(:facility => @facility)
      %li= link_to "Add room", new_facility_room_path(@facility)
.facility
  %p= @facility.one_line_address
  .rooms
    %h2 Rooms
    - @facility.rooms.each do |room|
      .room
        %h3
          = link_to room, facility_room_path(@facility,room)
          = " - #{room.location}"