.implant_summary
  %h3 Hip Implant
  %dl
    %dt Prosthesis Type
    %dd= implant.prosthesis_type
    %dt Femur Diameter
    %dd= implant.femur_diameter
    %dt Femur Length
    %dd= implant.femur_length
    %dt Femur Head Size
    %dd= implant.femur_head_size
    %dt Neck Length
    %dd= implant.neck_length
    %dt Acetabulum Size
    %dd= implant.acetabulum_size
    - if implant.total_screws.present? && implant.total_screws > 0
      %dt Total Screws
      %dd= implant.total_screws
  %ul
    - if implant.cement_used
      %li Cement Used
    - if implant.spacer_used
      %li Spacer Used