.implant_summary
  %h3 Knee Implant
  %dl
    %dt Knee Type
    %dd= implant.knee_type
    %dt Femur Diameter
    %dd= implant.femur_diameter
    - if implant.femur_screws.present? && implant.femur_screws > 0
      %dt Femur Screws
      %dd= implant.femur_screws
    %dt Tibia Type
    %dd= implant.tibia_type
    %dt Tibia Diameter
    %dd= implant.tibia_diameter
    %dt Tibia Thickness
    %dd= implant.tibia_thickness
    - if implant.tibia_screws.present? && implant.tibia_screws > 0
      %dt Tibia Screws
      %dd= implant.tibia_screws
    - if implant.total_screws.present? && implant.total_screws > 0
      %dt Total Screws
      %dd= implant.total_screws
    %dt Patella Size
    %dd= Healer::Config.anatomy[:patella_sizes][implant.patella_size]
  %ul
    - if implant.femur_stems
      %li Femur Stems
    - if implant.tibia_stems
      %li Tibia Stems
    - if implant.patella_not_resurfaced
      %li Patella Not Resurfaced
    - if implant.cement_used
      %li Cement Used
    - if implant.spacer_used
      %li Spacer Used