- content_for :title do
  Diseases
- content_for :subnavigation do
  %ul.subnavigation
    - if permitted_to? :create, Disease.new
      %li= link_to_unless_current "New Disease", new_disease_path

#disease_list
  - @diseases.each do |disease|
    .orderable.disease{ :id => "disease_#{disease.id}" }
      %span.ui-icon.ui-icon-grip-dotted-vertical
      %span.name= disease
      %span.code= "(#{disease.code})" unless disease.code.blank?
      %span.nav
        = link_to("Edit", edit_disease_path(disease))