.list_item.diagnosis
  %h3= diagnosis
  .summary
    %dl
      %dt Assessed Date:
      %dd= date_assessed(diagnosis)
      %dt Severity:
      %dd= severity(diagnosis)
    - if diagnosis.xrays.present?
      .xrays
        %h4 Pre-op X-ray(s)
        - diagnosis.xrays.each do |xray|
          = xray_thumbnail(xray)
  .operations.supplemental
    - if diagnosis.operations.present?
      %h4 Operations for this diagnosis
      - diagnosis.operations.each do |operation|
        .operation
          - if permitted_to? :show, operation
            = link_to operation, operation_path(operation)
          - else
            = operation
    - else
      -# TODO turn this back on eventually
      =# link_to "Add operation", new_patient_operation_path(@patient, :diagnosis_id => diagnosis.id), :class => "supplemental"
  %ul.nav
    %li= link_to("Edit diagnosis", edit_patient_diagnosis_path(@patient,diagnosis))
    %li= link_to("Delete diagnosis", patient_diagnosis_path(@patient,diagnosis), :method => :delete, :confirm => "Are you sure? All records for #{@patient} about this diagnosis (including operations, x-rays, etc.) will be removed.")
