- semantic_form_for @patient, :html => { :multipart => true } do |f|
  - f.inputs :name => "Name & Photo" do
    = f.input :name_first, :label => 'First Name'
    = f.input :name_middle, :label => 'Middle Name'
    = f.input :name_last, :label => 'Last Name'
    = f.input :photo, :as => :file, :label => "Photo"
  - f.inputs :name => "Demographics" do
    = f.input :male, :as => :radio, :label => "Gender", :collection => [["Male", true], ["Female", false]]
    = f.input :birth, :as => :date, :label => "Birth", :start_year => 1900, :end_year => Time.now.year
    =# f.input :death, :as => :date, :label => "Death"
    = f.input :height_cm, :label => 'Height (cm)'
    = f.input :weight_kg, :label => 'Weight (kg)'
  - f.inputs :name => "Contact" do
    = f.input :address1, :label => 'Address 1'
    = f.input :address2, :label => 'Address 2'
    = f.input :city, :label => 'City'
    = f.input :state, :label => 'State/Region'
    = f.input :zip, :label => 'Zip/Postal'
    = f.input :country, :as => :select, :label => 'Country', :collection => Carmen::COUNTRIES
    = f.input :phone, :label => 'Phone'
    = f.input :email, :label => 'Email'
  .medical_history
    %h2 Medical History
    - if @patient.risk_factors.present?
      - f.inputs :name => "Risk Factors", :id => "risk_factor_list" do
        - @patient.risk_factors.each do |risk_factor|
          %li
            = risk_factor
            = link_to "delete", patient_risk_factors_path(@patient, risk_factor), :method => :delete, :confirm => "Are you sure?"
        -# if permitted_to? :create, RiskFactor.new(:patient => @patient)
          -# %p= link_to "Add a risk factor for #{@patient}", new_patient_risk_factor_path(@patient)
    - f.inputs :name => "Medications", :id => "medications_list" do
      = f.input :medications, :label => false, :hint => "Separate entries with commas or return."
    - f.inputs :name => "Diseases", :id => "disease_list" do
      = f.input :other_diseases, :label => false, :hint => "Separate entries with commas or return."
    - f.inputs :name => "Allergies", :id => "allergy_list" do
      = f.input :allergies, :label => false, :hint => "Separate entries with commas or return."

  - f.buttons do
    = f.commit_button