- patient_presenter = V1::PatientDecorator.new(patient)
.row
  .columns.large-12
    .row
      .columns.large-3.small-2
        %h3.patient_id.hide-for-medium-up= patient_presenter.id
        .image.hide-for-small= patient_image(patient, :small)
      .columns.large-7.small-6
        %h3
          - if permitted_to?(:edit, patient)
            = link_to(patient_presenter.name, edit_patient_path(patient), "data-reveal-id" => "modal", "data-reveal-ajax" => edit_patient_path(patient))
          - else
            = patient_presenter.name
          %small.image.hide-for-small= patient_presenter.id
        =# render :partial => "patients/shared/patient_demographic", :locals => { :patient => patient }
      .columns.large-2.small-4
        %ul.side-nav
          - if permitted_to?(:authorize, patient)
            %li= link_to "Schedule", "#", { "data-dropdown" => "#{patient_presenter.dom_id}_schedule" }
          - if permitted_to?(:edit, patient)
            %li= link_to "Log adverse event", new_patient_adverse_event_path(patient), :remote => true
          / - if patient.has_medical_detail?
          /   %li
          /     = link_to "Medical history", new_patient_adverse_event_path(patient), :remote => true
          /     .medical_history.supplemental
          /       %p.fake_link.toggle= "Medical history"
          /       .details{ :style => "display: none;" }
          /         = render :partial => "patients/medical_details", :locals => { :patient => patient, :hide => true }