.list_item.patient
  .summary
    = patient_image(patient)
    %h3
      - if permitted_to? :show, patient
        = link_to patient, patient_path(patient)
      - else
        = patient
    %dl
      %dt Gender:
      %dd= patient_gender(patient)
      - if patient.one_line_address.present?
        %dt Address:
        %dd= patient.one_line_address
      - if patient.phone.present?
        %dt Phone:
        %dd= patient.phone
      - if patient.email.present?
        %dt Email:
        %dd= mail_to patient.email
  .diagnoses
    - if patient.diagnoses.empty?
      = link_to "New diagnosis for #{patient}", new_patient_diagnosis_path(patient)
    - else
      %h3 Diagnoses
      %ul
        -# show a list of up to 3 individual diagnoses. link-off to patient/show if longer.
        - for i in 0..patient.diagnoses.size - 1 do
          - diagnosis = patient.diagnoses[i]
          - break if i > 2
          %li.inline= render :partial => "diagnoses/inline", :locals => { :diagnosis => diagnosis }
      - if patient.diagnoses.size > 3
        = link_to "+ #{patient.diagnoses.size - 3} more", patient_path(patient)
  .operations
  /
    .nav
      - if permitted_to? :create, Diagnosis.new(:patient => patient)
        = link_to "New Diagnosis", new_patient_diagnosis_path(patient)
      - if permitted_to? :edit, patient
        = link_to "Edit", edit_patient_path(patient)