.patient[patient]
  .record
    = render :partial => "patients/shared/snapshot", :locals => { :patient => patient }
    .navigation.noprint
      %ul
        - if permitted_to? :show, patient
          %li= link_to "Show full record", patient_path(patient)
        - if permitted_to? :edit, patient
          %li= link_to "Edit record", edit_patient_path(patient)
        - if permitted_to? :create, PatientCase.new(:patient => patient)
          %li= link_to "New case", new_patient_case_path(patient)
  - if patient.has_medical_detail?
    .medical_details.supplemental
      %p.fake_link.toggle= "Full medical detail"
      .details{ :style => "display: none;" }
        = render :partial => "patients/medical_details", :locals => { :patient => patient, :hide => true }
  .section.treatment
    .title_header
      %h3.diagnosis Diagnosis / Pre-Op
      %h3.operation Operation
    - patient.diagnoses.each do |diagnosis|
      .diagnosis_and_operation
        .diagnosis
          = render :partial => "diagnoses/inline", :object => diagnosis, :as => :diagnosis, :locals => { :options => { :remote => true, :size => :tiny, :context => :patient_case } }
        .operation
          - if diagnosis.operation.present?
            = render :partial => "operations/inline", :object => diagnosis.operation, :as => :operation, :locals => { :options => { :size => :tiny } }