- content_for :title do
  = "Edit Patient: #{@patient}"
- content_for :subnavigation do
  %ul
    - if permitted_to? :show, @patient
      %li= link_to "Back to summary", @patient
    - if permitted_to? :destroy, @patient
      %li.delete= link_to "Delete patient", patient_path(@patient), :method => :delete, :confirm => "Are you sure you want to delete the entire patient record for #{@patient}? This will erase all history, procedures, and cases for this patient. This action cannot be undone."

= render :partial => "form"