- content_for :title do
  Patients
- content_for :subnavigation do
  = render :partial => "subnav"
- @patients.each do |patient|
  .patient
    %h2= patient
    = image_tag patient.photo.url(:thumb)
    .demographic
    .diagnoses
    .operations
    .nav
      - if permitted_to? :create, Diagnosis.new(:patient => patient)
        = link_to "New Diagnosis", new_patient_diagnosis_path(patient)
      - if permitted_to? :show, patient
        = link_to "Show", patient_path(patient)
      - if permitted_to? :edit, patient
        = link_to "Edit", edit_patient_path(patient)
      - if permitted_to? :destroy, patient
        = link_to "Delete", patient_path(patient), :method => :delete, :confirm => "Are you sure?"