- content_for :title do
  = "Patient record - #{@patient}"
- content_for :subnavigation do
  %ul.subnavigation
    %li= link_to "Patient Index", patients_path
    - if permitted_to? :edit, @patient
      %li= link_to "Edit #{@patient}", edit_patient_path(@patient)
.section.basic_info
  .image
    = patient_image(@patient, :small)
  .info
    %dl.demographic
      %dt Gender:
      %dd= patient_gender(@patient)
      %dt Birth:
      %dd= birth_date_and_age(@patient)
      %dt Height:
      %dd= patient_height(@patient, true)
      %dt Weight:
      %dd= patient_weight(@patient, true)
    .contact
      = render :partial => "patients/contact", :locals => { :patient => @patient }

.section
  %h2 Registrations
  - if @patient.registered?
    %ul.registrations
      - @patient.registrations.each do |registration|
        %li= link_to registration, trip_registrations_path(registration.trip)
  - else
    %p= "#{@patient.short_name} has no registrations. Select a trip to register #{@patient.short_name} for."
    - semantic_form_for Registration.new(:patient_id => @patient.id), :html => { :multipart => true } do |f|
      = f.input :patient_id, :as => :hidden, :input_html => { :value => @patient.id }
      - f.inputs do
        = f.input :trip_id, :as => :select, :label => 'Trip', :collection => Trip.all
      - f.buttons do
        = f.commit_button 'Go'
.section
  %h2 Diagnoses
  %ul.subnavigation
    - if permitted_to? :create, Diagnosis.new(:patient => @patient)
      = link_to "New Diagnosis", new_patient_diagnosis_path(@patient)
  #diagnosis_list
    = render :partial => "diagnosis_summary", :collection => @patient.diagnoses, :as => :diagnosis
.section.medical_history
  %h2 Medical History
  .risk_factors
    %h3 Risk Factors
    %ul#risk_factor_list
      - @patient.risk_factors.each do |risk_factor|
        %li= risk_factor
  .diseases
    - if @patient.other_diseases.present?
      %h3 Chronic & Other Diseases
      %ul
        - chronics = free_text_list_to_array(@patient.other_diseases)
        - chronics.each do |chronic|
          %li= chronic
  .medications
    - if @patient.medications.present?
      %h3 Medications
      %ul
        - medications = free_text_list_to_array(@patient.medications)
        - medications.each do |medication|
          %li= medication
/ 
/ .section
/   %h2= "#{@patient.short_name}'s Operations"
/   %ul.subnavigation
/     - if permitted_to? :create, Operation.new(:patient => @patient)
/       = link_to "New Operation", new_patient_operation_path(@patient)
/   - @patient.operations.each do |operation|
/     .operation
/       - if permitted_to? :show, operation
/         = link_to operation, patient_operation_path(@patient,operation)
/       - else
/         = operation
