- content_for :title do
  ="#{@patient} - Patient record"
- content_for :subnavigation do
  %ul.subnavigation
    %li= link_to "Patient Index", patients_path
    - if permitted_to? :edit, @patient
      %li= link_to "Edit record", edit_patient_path(@patient)
.section.basic
  %h2 Basic Information
  = patient_image(@patient, :small)
  = render :partial => "patients/shared/patient_demographic", :locals => { :patient => @patient }
  - if @patient.has_contact?
    .contact
      %h3 Contact Information
      %dl
        - if @patient.inline_address.present?
          %dt Address:
          %dd= @patient.inline_address("<br />").html_safe
        - if @patient.phone.present?
          %dt Phone:
          %dd= @patient.phone
        - if @patient.email.present?
          %dt Email:
          %dd= mail_to @patient.email
.section.registrations
  %h2 Registrations
  - if @patient.registered?
    %ul.registrations
      - @patient.registrations.each do |registration|
        %li= link_to registration.trip, trip_registrations_path(registration.trip)
  - else
    %p= "#{@patient.short_name} has no registrations. Select a trip to register #{@patient.short_name} for."
    - semantic_form_for Registration.new(:patient_id => @patient.id), :html => { :multipart => true } do |f|
      = f.input :patient_id, :as => :hidden, :input_html => { :value => @patient.id }
      - f.inputs do
        = f.input :trip_id, :as => :select, :label => 'Trip', :collection => Trip.all
      - f.buttons do
        = f.commit_button 'Go'
.section.diagnoses
  %h2 Diagnoses
  %ul.subnavigation
    - if permitted_to? :create, Diagnosis.new(:patient => @patient)
      = link_to "New Diagnosis", new_patient_diagnosis_path(@patient)
  #diagnosis_list
    = render :partial => "diagnosis_summary", :collection => @patient.diagnoses, :as => :diagnosis
.section.medical_detail
  %h2
    Medical History
    - if permitted_to? :edit, @patient
      %span.inline_nav= link_to "edit", edit_patient_path(@patient, :anchor => "history")
  = render :partial => "patients/medical_details", :locals => { :patient => @patient }
/
/ .section
/   %h2= "#{@patient.short_name}'s Operations"
/   %ul.subnavigation
/     - if permitted_to? :create, Operation.new(:patient => @patient)
/       = link_to "New Operation", new_patient_operation_path(@patient)
/   - @patient.operations.each do |operation|
/     .operation
/       - if permitted_to? :show, operation
/         = link_to operation, patient_operation_path(@patient,operation)
/       - else
/         = operation
