- content_for :title do
  = "Patient: #{@patient}"
- content_for :subnavigation do
  %ul.subnavigation
    -#%li= link_to "Patients", patients_path
    - if permitted_to? :edit, @patient
      = link_to "Edit", edit_patient_path(@patient)

.section
  %h2 Diagnoses
  %ul.subnavigation
    - if permitted_to? :create, Diagnosis.new(:patient => @patient)
      = link_to "New Diagnosis", new_patient_diagnosis_path(@patient)
  - @patient.diagnoses.each do |diagnosis|
    .diagnosis
      = diagnosis

- if permitted_to? :destroy, @patient
  %p.delete= link_to "Delete #{@patient}", patient_path(@patient), :method => :delete, :confirm => "Are you sure you want to delete the entire patient record for #{@patient}? This will erase all history, procedures, and diagnoses for this patient. Also, this action cannot be undone."