- content_for :title do
  ="#{@patient} - Patient record"
- content_for :subnavigation do
  %ul
    - if permitted_to? :edit, @patient
      %li= link_to "Edit record", edit_patient_path(@patient)
.section.basic
  %h2 Basic Information
  = patient_image(@patient, :small)
  = render :partial => "patients/shared/patient_demographic", :locals => { :patient => @patient }
  - if @patient.has_contact?
    .contact
      %h3 Contact Information
      %dl
        - if @patient.inline_address.present?
          %dt Address:
          %dd= @patient.inline_address("<br />").html_safe
        - if @patient.phone.present?
          %dt Phone:
          %dd= @patient.phone
        - if @patient.email.present?
          %dt Email:
          %dd= mail_to @patient.email
.section.patient_cases
  %h2 Cases
  - if @patient.registered?
    %ul.patient_cases
      - @patient.patient_cases.each do |patient_case|
        %li= link_to "#{patient_case.trip} - #{patient_case}", trip_case_path(patient_case.trip, patient_case)
  - else
    %p= "Patient has no cases. Select a trip to register a new case."
    = simple_form_for PatientCase.new(:patient_id => @patient.id), :html => { :multipart => true } do |f|
      = f.input :patient_id, :as => :hidden, :input_html => { :value => @patient.id }
      = f.input :trip_id, :as => :select, :label => 'Trip', :collection => Trip.all
      = f.button :submit, :label => "Go"
.section.medical_detail
  %h2
    Medical History
    - if permitted_to? :edit, @patient
      %span.inline_nav= link_to "edit", edit_patient_path(@patient, :anchor => "history")
  = render :partial => "patients/medical_details", :locals => { :patient => @patient }