- content_for :title do
  = "Patient: #{@patient}"
- content_for :subnavigation do
  %ul.subnavigation
    -#%li= link_to "Patients", patients_path
    - if permitted_to? :edit, @patient
      = link_to "Edit #{@patient}", edit_patient_path(@patient)
    - if permitted_to? :destroy, @patient
      %p.delete= link_to "Delete #{@patient}", patient_path(@patient), :method => :delete, :confirm => "Are you sure you want to delete the entire patient record for #{@patient}? This will erase all history, procedures, and diagnoses for this patient. Also, this action cannot be undone."
.section
  %h2 Registrations
  - if @patient.registered?
    %ul.registrations
      - @patient.registrations.each do |registration|
        %li= link_to registration, registration
  - else
    %p= "#{@patient.short_name} has no registrations. Select a trip to register #{@patient.short_name} for."
    - semantic_form_for Registration.new(:patient_id => @patient.id), :html => { :multipart => true } do |f|
      = f.input :patient_id, :as => :hidden, :input_html => { :value => @patient.id }
      - f.inputs do
        = f.input :trip_id, :as => :select, :label => 'Trip', :collection => Trip.all
      - f.buttons do
        = f.commit_button 'Go'
.section
  %h2= "#{@patient.short_name}'s Diagnoses"
  %ul.subnavigation
    - if permitted_to? :create, Diagnosis.new(:patient => @patient)
      = link_to "New Diagnosis", new_patient_diagnosis_path(@patient)
  #diagnosis_list
    = render :partial => "diagnosis_summary", :collection => @patient.diagnoses, :as => :diagnosis
.section
  %h2= "Risk Factors"
  %ul.subnavigation
    - if permitted_to? :create, RiskFactor.new(:patient => @patient)
      = link_to "New Risk Factor", new_patient_risk_factor_path(@patient)
  %ul#risk_factor_list
    - @patient.risk_factors.each do |risk_factor|
      %li= risk_factor
/ 
/ .section
/   %h2= "#{@patient.short_name}'s Operations"
/   %ul.subnavigation
/     - if permitted_to? :create, Operation.new(:patient => @patient)
/       = link_to "New Operation", new_patient_operation_path(@patient)
/   - @patient.operations.each do |operation|
/     .operation
/       - if permitted_to? :show, operation
/         = link_to operation, patient_operation_path(@patient,operation)
/       - else
/         = operation
