- content_for :title do
  Log in
= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  - f.inputs do
    = f.input :email, :label => 'Email'
    = f.input :password, :as => :password, :label => 'Password'
    - if devise_mapping.rememberable?
      = f.input :remember_me, :label => 'Remember Me', :as => :boolean
  - f.buttons do
    = f.commit_button 'Log In'
= render :partial => "devise/shared/links"