- patient = case_group.patient
%a{ :name => dom_id(case_group) }
.patient.case-focus.collapsible.collapsed[case_group]
  .basic
    .primary.name
      %h2= patient.to_s(:with_id => true)
      %h3= "#{case_group}"
    .toggle.ui-icon
  .supplement{ :style => "display: none" }
    - case_group.patient_cases.each do |patient_case|
      .patient_case[patient_case]
        .diagnosis
          .case_detail
            %h4
              = patient_case.body_part
              - if patient_case.revision?
                %span.asterisk (Revision)
            %p.aux
              = patient_case.disease
              - if patient_case.severity && patient_case.severity > 0
                %span.severity{ :class => severity(patient_case).downcase }
                  = "(#{severity(patient_case)})"
            .navigation.noprint
              %ul
                %li.edit= link_to("<span>Make Changes</span>".html_safe, edit_trip_case_path(patient_case.trip, patient_case))
          = render :partial => "xrays/collection", :locals => { :patient_case => patient_case, :xrays => patient_case.xrays.pre_op, :editable => false }

        .procedure
          - if permitted_to? :create, Operation.new(:patient_case => patient_case)
            = link_to "New operation", new_case_operation_path(patient_case), :remote => true, :class => "new_operation#{" hide" if !!patient_case.operation}"
          = render :partial => "operations/inline", :object => patient_case.operation, :as => :operation, :locals => { :options => { :size => :tiny } } if patient_case.operation