= simple_form_for [@facility,@room], :html => { :multipart => true } do |f|
  = f.input :facility_id, :as => :hidden, :input_html => { :value => @facility.id }
  = f.input :title, :label => 'Title'
  = f.input :location, :label => 'Location/Room Number'
  %h3 Notes
  = f.input :notes, :label => false
  = f.button :submit