= semantic_form_for registration, :remote => true do |f|
  = f.inputs :class => "registration_complexity" do
    - from_time = Time.now
    = f.input :complexity, :as => :select, :label => "Time", :collection => Registration::complexity_units.map{ |cu| [distance_of_time_in_words(from_time, from_time + (registration.complexity_minutes * cu.to_i).to_i.minutes, false, { :two_words_connector => ", " }), cu] }, :input_html => { :id => nil, :class => "submit_registration_complexity" }, :wrapper_html => { :id => "#{dom_id(registration)}_complexity" }


%ul.nav
  - if permitted_to? :authorize, registration
    - if !registration.authorized?
      %li= link_to "Approve", authorize_trip_registration_path(@trip, registration), :method => :put
    - else
      %li= link_to "Return to waiting", deauthorize_trip_registration_path(@trip, registration), :method => :put
  - if permitted_to? :destroy, registration.patient
    %li.delete= link_to "Edit patient record", edit_patient_path(registration.patient)
  - if permitted_to? :edit, registration
    %li= link_to "Edit registration", trip_registration_path(@trip, registration)
  - if permitted_to? :destroy, registration
    %li.delete= link_to "Delete registration", trip_registration_path(@trip, registration), :method => :delete, :confirm => "Are you sure?"