- # TODO this is very similar to inline_registration view. dry it up!.
- patient = registration.patient
.registration[registration]
  .patient
    .image= patient_image(patient, :small)
    .primary.name
      %h3= patient
      %h4
        - if permitted_to? :show, registration
          = link_to "Registration ##{registration.id}", trip_registration_path(registration.trip, registration)
        - else
          = "Registration ##{registration.id}"
    .secondary.demographic
      = render :partial => "patients/shared/patient_demographic", :locals => { :patient => patient }
    .navigation.noprint
      = render :partial => "registrations/summary/action", :locals => { :registration => registration }
  - if patient.has_medical_detail?
    .medical_details.supplemental
      %p.fake_link.toggle= "Full medical detail"
      .details{ :style => "display: none;" }
        = render :partial => "patients/medical_details", :locals => { :patient => patient, :hide => true }
  .section.treatment
    .title_header
      %h3.diagnosis Diagnosis / Pre-Op
      %h3.operation Operation
    - diagnoses = registration.authorized? ? registration.diagnoses : registration.patient.diagnoses
    - diagnoses.each do |diagnosis|
      .diagnosis_and_operation
        .diagnosis
          = render :partial => "diagnoses/inline", :object => diagnosis, :as => :diagnosis, :locals => { :options => { :remote => true, :size => :tiny, :context => :registration } }
        .operation
          - if diagnosis.operations.present?
            - diagnosis.operations.each do |operation|
              = render :partial => "operations/inline", :object => operation, :as => :operation, :locals => { :options => { :size => :tiny } }