- content_for :title do
  Home
- current_user.trips.current.each do |trip|
  .trip
    %h2= V1::TripDecorator.new(trip).name
    %ul
      - if permitted_to? :create, PatientCase.new(:trip => trip)
        %li= link_to "New case", new_trip_case_path(trip)
      %li= link_to "Patients", trip_patients_path(trip)
      %li= link_to "Full Schedule", trip_schedule_path(trip)
      - if permitted_to? :edit, trip
        %li= link_to "Edit trip details", edit_trip_path(trip)
    %h3 Days
    %ul
      - trip.number_of_operation_days.times do |i|
        - day_num = i + 1
        %li= link_to "Day #{day_num} Schedule", trip_schedule_path(trip, :day => day_num)