- content_for :title do
  = "#{@trip} - Patients"
- content_for :subnavigation do
  %ul
    - if permitted_to? :create, PatientCase.new(:trip => @trip)
      %li= link_to "Add case", new_trip_case_path(@trip)
    %li= link_to "Schedule", trip_schedule_path(@trip)
  .record_jump= select_tag :patient_anchor, options_for_select([["Jump to patient...",""]] + @trip.patients.map{ |patient| [patient, dom_id(patient)] })
.patient_list
  - @trip.patients. each do |patient|
    %a{ :name => dom_id(patient) }
    .patient{ :id => "#{patient.id}" }
      .basic
        %h2= patient
        .image= patient_image(patient, :small)
        = render :partial => "patients/shared/patient_demographic", :locals => { :patient => patient }
        - if patient.has_medical_detail?
          .medical_details.supplemental
            %p.fake_link.toggle= "Full medical detail"
            .details{ :style => "display: none;" }
              = render :partial => "patients/medical_details", :locals => { :patient => patient, :hide => true }
      .cases.treatment
        - i = 0
        - patient.patient_cases.all(:conditions => ["trip_id = ?", @trip.id]).each do |patient_case|
          - i += 1
          .patient_case{ :class => "#{patient_case.treated? ? "treated" : "untreated"} #{patient_case.authorized? ? "authorized" : "unauthorized"}" }
            %h3= "Case #{i}:"
            - if patient_case.diagnosis
              = render :partial => "diagnoses/inline", :object => patient_case.diagnosis, :as => :diagnosis, :locals => { :options => { :remote => true, :context => :patient_case } }
