- content_for :title do
  Patients
- content_for :sidebar_utility do
  #case_filter
    .section.record_jump
      %p.all= link_to("Browse all patients", request.path)
      - unless params[:patient_id]
        = form_tag(trip_patients_path(@trip), {:method => :get}) do
          = select_tag :patient_id, options_for_select([["Go to patient...",nil]] + @all_patients.map{ |patient| ["#{patient.id} - #{patient}", patient.id] })
    .section.body_part
      %h4 Filter
      -# raise params.inspect
      = form_tag(trip_patients_path(@trip), {:method => :get}) do
        = select_tag "filter[authorized_status]", options_for_select([["All cases","all"],["Authorized cases","authorized"],["Waiting cases","unauthorized"]], :selected => (params[:filter][:authorized_status] || "all"))
        - @body_parts_names.each do |body_part_name|
          .criterion
            = check_box_tag "filter[body_parts][]", body_part_name, (params[:filter][:body_parts].present? && params[:filter][:body_parts].include?(body_part_name)), :id => "#{body_part_name}_filter"
            = label_tag "#{body_part_name}_filter", body_part_name
        = submit_tag "Go"

    /
      .criterion
        = check_box_tag :multiple_case_filter, true
        = label_tag :multiple_case_filter, "Show multiple/bilateral only"

.record_list.patient_list
  .records
    = render :partial => "patient", :collection => @paginated_patients, :as => :patient
  = will_paginate(@paginated_patients)

- content_for :script do
  -#:javascript
  -#  var total_number_of_pages = @trip_patients.total_pages;
  =# javascript_include_tag "lib/endless_page.js"

  :javascript
    jQuery(function ($) {
      $(window).scroll(function(){
        url = $('.pagination .next_page').attr('href');
        if (url && $(window).scrollTop() > ($(document).height() - $(window).height() - 150) ) {
          $('.pagination').html("<img class='ajax_loader' src='/images/ajax-loader.gif' />");
          $.getScript(url);
        }
      });
    });


    $(function() {
      $(".record_jump select").change(function() {
        $(this).closest("form").submit();
      });
    });

    $(".case_list .select_all").click(function(event) {
      $(this).closest(".case_list").find(".patient_case input[type=checkbox]").attr("checked",true);
    });