- content_for :subnavigation do
  #case_filter
    = form_tag(trip_patients_path(@trip), {:method => :get}) do
      = text_field_tag :search, nil, :placeholder => "Search"
      = select_tag :authorized_status, options_for_select([["All cases","all"],["Authorized cases","authorized"],["Waiting cases","unauthorized"]], :selected => (params[:authorized_status] || "all"))
      - @anatomies.each do |anatomy|
        .criterion
          = check_box_tag "anatomies[]", anatomy, (params[:anatomies] && Array(params[:anatomies]).include?(anatomy)), :id => "#{anatomy}_filter"
          = label_tag "#{anatomy}_filter", anatomy
      = submit_tag "Go"

.record_list.patient_list
  .section.records
    - if @paginated_patients.size > 0
      = render :partial => "patient", :collection => @paginated_patients, :as => :patient, :locals => { :trip => @trip }
    - else
      %p No results found.
  = will_paginate(@paginated_patients)

- content_for :script do
  = javascript_include_tag "trip_patient_scroll"
  :javascript
    $(function() {
      $(".record_jump select").change(function() {
        $(this).closest("form").submit();
      });
    });