- @all_cases.each do |appointment|
  .patient.room_sign{ :class => "#{cycle("odd", "even")}" }
    = image_tag("organization/operation_walk_logo.jpg")
    %h1= appointment.patient.id
    %h2= appointment.patient
    %h3= V1::AppointmentDecorator.new(appointment).title