= f.input :trip_id, :as => :hidden, :input_html => { :value => parent.id }
= f.inputs do
  = f.input :body_part_id, :as => :select, :label => 'Body Part', :collection => BodyPart.all.collect{ |bp| [bp.to_s, bp.id] }
  = f.input :revision, :as => :boolean
  = f.input :disease_id, :as => :select, :label => 'Disease', :collection => Disease.all.collect{ |d| [d.to_s, d.id] }
  = f.input :severity, :as => :radio, :label => "Severity", :collection => PatientCase::severity_table.invert
