- content_for :title do
  = "#{@patient} - New Case"

= semantic_form_for [parent,resource], :url => patient_cases_path(parent), :html => { :multipart => true } do |f|
  = f.semantic_errors
  = f.input :patient_id, :as => :hidden, :input_html => { :value => @patient.id }
  = f.input :created_by_id, :as => :hidden, :input_html => { :value => current_user.id }
  = f.inputs do
    = f.input :trip_id, :as => :select, :label => 'Trip', :collection => current_user.trips.next.country(@patient.country), :include_blank => false
  = f.semantic_fields_for :diagnosis do |d|
    = d.inputs do
      = d.input :patient_case_id, :as => :hidden
      = d.input :body_part_id, :as => :select, :label => 'Body Part', :collection => BodyPart.all.collect{ |bp| [bp.to_s, bp.id] }
      = d.input :disease_id, :as => :select, :label => 'Disease', :collection => Disease.all.collect{ |d| [d.to_s, d.id] }
      = d.input :severity, :as => :radio, :label => "Severity", :collection => Diagnosis::severity_table.invert
      =# d.input :assessed_date, :as => :datepicker, :label => "Assessed Date"
      = d.input :revision, :as => :boolean
  #xrays
    %h3 X-Rays
    = render :partial => 'xrays/fields', :object => resource.xrays.build, :as => :xray, :locals => { :f => f }
  = f.buttons do
    = f.commit_button