- content_for :title do
  = "#{@patient_case}"
- content_for :subnavigation do
  %ul
    %li= link_to "Full patient record", patient_path(@patient_case.patient)
    - if permitted_to? :edit, @patient_case
      %li= link_to "Edit case", edit_trip_case_path(@patient_case.trip, @patient_case)

.patient_list
  .patient[@patient_case]
    .basic
      .primary.name
        %h2= @patient_case.patient.to_s(:with_id => true)
        %h3= V1::PatientCaseDecorator.new(@patient_case).anatomy
    .supplement
      .diagnosis
        = render :partial => "pre_op", :object => @patient_case, :as => :patient_case
        .xrays
          = render :partial => "xrays/collection", :locals => { :patient_case => @patient_case, :xrays => @patient_case.xrays.pre_op, :editable => false }
      .operation
        - if !@patient_case.operation
          = link_to "New operation", new_case_operation_path(@patient_case)
        - else
          = render :partial => "operations/inline", :object => @patient_case.operation, :as => :operation, :locals => { :options => { :size => :tiny } }

      .treatment