- content_for :title do
  Login
= error_messages_for :user_session, :header_message => "Login failed."
- semantic_form_for @user_session, :url => user_sessions_path do |f|
  - f.inputs do
    = f.input :login, :label => 'Login'
    = f.input :password, :as => :password, :label => 'Password'
  - f.buttons do
    = f.commit_button 'Log In'
= link_to "New user", new_user_path