= semantic_form_for resource do |f|
  = f.inputs do
    = f.input :name_en, :as => :string, :label => 'Name'
    = f.input :name_es, :as => :string, :label => 'Nombre (Español)'
    = f.input :side, :as => :radio, :label => "Side", :collection => [["Left", "L"], ["Right", "R"], ["N/A", ""]]
    = f.input :mirror_id, :as => :select, :label => "Mirror", :collection => (BodyPart.all - [resource]).map{ |bp| [bp.to_s, bp.id] }
  = f.buttons do
    = f.commit_button