!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type" }
    = csrf_meta_tag
    = render :partial => "layouts/shared/default_css"
    = yield :head
    %title<
      Healer
      - if yield :title
        = "- #{yield :title}"
  %body.bp
    #wrapper
      #head
        %ul#trip_nav
          - Trip.next.each do |trip|
            - if permitted_to? :show, trip
              %li= link_to_unless_current trip, trip_registrations_path(trip)
        - if current_user.has_role_admin
          = render :partial => "layouts/shared/system_settings"
        = render :partial => "layouts/shared/session"
      #content
        - if yield :title
          %h1= yield :title
        = yield :subnavigation
        = render :partial => "layouts/shared/alerts"
        = yield
    = render :partial => "layouts/shared/default_javascript"
    = yield :script