!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type" }
    = csrf_meta_tag
    = render :partial => "layouts/shared/default_css"
    = yield :head
    %title<
      Healer
      - if content_for?(:title)
        = "- #{yield :title}"
  %body.bp
    #wrapper
      -# if Rails.env == "development"
        #dev_notice.noprint
          %p Beware: you're in development mode.
      #head.noprint
        = render :partial => "layouts/shared/trip_list"
        - if @trip
          .trip_nav= render :partial => "layouts/shared/trip_nav", :locals => { :trip => @trip }
        .utility_nav
          .session= render :partial => "layouts/shared/session"
          - if current_user.has_role_admin
            .system= render :partial => "layouts/shared/system_settings"
      #content-outer{ :class => "#{"with-sidebar" if content_for?(:subnavigation) || content_for?(:title)}" }
        - if content_for?(:subnavigation) || content_for?(:title) || content_for?(:sidebar_utility)
          #sidebar.noprint
            - if content_for?(:title)
              %h1.title= yield :title
            - if content_for?(:subtitle)
              %h2.subtitle= yield :subtitle
            - if content_for?(:subnavigation)
              .subnav= yield :subnavigation
            - if content_for?(:sidebar_utility)
              .sidebar_utility= yield :sidebar_utility
        #content-inner{ :class => "#{"with-sidebar" if content_for?(:subnavigation) || content_for?(:title)}" }
          - if content_for?(:ipad_hint) && request_ipad?
            #ipad_hint{ :title => "iPad Hint:" }= yield :ipad_hint
          = render :partial => "layouts/shared/alerts"
          = yield
      #footer
        %p.as_of.print_only= "As of: #{Time.now}"
      = render :partial => "layouts/shared/utility"
    = render :partial => "layouts/shared/default_javascript"
    = yield :script