!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type" }
    = csrf_meta_tag
    = include_stylesheets "common", "screen", "print"
    /[if lt IE 8]
      = include_stylesheets "ie"
    = yield :head
    %title<
      Healer
      - if yield :title
        = "- #{yield :title}"
  %body.bp
    #wrapper
      #head
        = render :partial => "layouts/shared/session"
        %ul#nav
          - Trip.next.each do |trip|
            - if permitted_to? :show, trip
              %li= link_to_unless_current trip, trip_registrations_path(trip)
        = render :partial => "layouts/shared/admin_nav"
      #content
        - if yield :title
          %h1= yield :title
        = yield :subnavigation
        = render :partial => "layouts/shared/alerts"
        = yield
    = include_javascripts "lib", "healer"
    = yield :script