!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type" }
    = csrf_meta_tag
    = render :partial => "layouts/shared/default_css"
    = yield :head
    %title<
      Healer
      - if content_for?(:title)
        = "- #{yield :title}"
  %body.bp
    #wrapper
      #head.noprint
        = render :partial => "layouts/shared/trip_nav"
        - if current_user.has_role_admin
          = render :partial => "layouts/shared/system_settings"
        = render :partial => "layouts/shared/session"
      #content
        - if content_for?(:title)
          %h1.title= yield :title
        - if content_for?(:subtitle)
          %h2.subtitle= yield :subtitle
        - if content_for?(:subnavigation)
          #subnav
            = yield :subnavigation
        - if request_ipad?
          - if content_for?(:ipad_hint)
            #ipad_hint{ :title => "iPad Hint:" }
              = yield :ipad_hint
        = render :partial => "layouts/shared/alerts"
        = yield
      #footer
        %p.as_of.print_only= "As of: #{Time.now}"
      = render :partial => "layouts/shared/utility"
    = render :partial => "layouts/shared/default_javascript"
    = yield :script