!!! 5
%html{ xmlns: "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ "content" => "text/html;charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ name: "viewport", content: "width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" }
    %meta{ name: "apple-mobile-web-app-capable", content: "default" }
    %meta{ name: "apple-mobile-web-app-status-bar-style", content: "black-translucent" }

    = csrf_meta_tag
    = stylesheet_link_tag "application"

    = yield :head
    %title<
      Healer
      - if content_for?(:title)
        = "- #{yield :title}"
  %body
    .off-canvas-wrap
      .inner-wrap
        %aside.left-off-canvas-menu
          %ul.off-canvas-list
            %li
              %label.first Healer
            %li
              %a{ href: root_path } Home
          - if content_for?(:subnavigation)
            %hr
            = yield :subnavigation
          %ul.off-canvas-list
            - if @trip && @trip.persisted?
              %hr
                %ul.off-canvas-list
                  %li
                    %label= V1::TripDecorator.new(@trip).name
                  = render :partial => "layouts/mobile/nav_trip"
            - if current_user.try(:has_role_admin)
              %hr
                %ul.off-canvas-list
                  = render :partial => "layouts/mobile/nav_system"
          %hr
            %ul.off-canvas-list
              = render :partial => "layouts/mobile/nav_auth"

        %nav.fixed.tab-bar.show-for-small
          %a.left-off-canvas-toggle.menu-icon
            %span Healer
        %nav.fixed.top-bar.hide-for-small{ "data-topbar" => true }
          %ul.title-area
            %li.name
              %h1
                %a{ href: root_path } Healer
          %section.top-bar-section
            %ul.right
              - if @trip && @trip.persisted?
                = render :partial => "layouts/mobile/nav_trip"
              - if current_user.try(:has_role_admin)
                %li.divider
                  = render :partial => "layouts/mobile/nav_system"
              %li.divider
                = render :partial => "layouts/mobile/nav_auth"
        / body rows start
        - if content_for?(:title)
          .row
            .columns.large-12
              %h1= yield :title
        .row
          .columns.large-12
            = render :partial => "layouts/shared/alerts"
        .row
          - if content_for?(:subnavigation)
            .columns.large-3.hide-for-small
              = yield :subnavigation
            .columns.large-9
              = yield
          - else
            .columns.large-12
              = yield

        / #footer.row
        /   .columns.large-12
        /     %p.as_of.print_only= "As of: #{Time.now}"
        #modal
    = javascript_include_tag "application"
    = yield :script
    = javascript_include_tag "lib/flash.js"
    = javascript_include_tag "lib/schedule.js"
    = javascript_include_tag "lib/collapsible.js"
    = javascript_include_tag "lib/orderable.js"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "fastclick"
