!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "Content-Type" }
    = stylesheet_link_tag "screen.css"
    = stylesheet_link_tag "print.css", :media => :print
    :css
      .room_sign {
        padding: 12pt;
      }
      .room_sign img {
        margin-bottom: 12pt;
      }
      .room_sign.even {
        page-break-after: always;
      }
      .room_sign h1 {
        font-size: 48pt;
        line-height: 40pt;
      }
      .room_sign h2 {
        font-size: 40pt;
        line-height: 36pt;
      }
      .room_sign h3 {
        font-size: 24pt;
        line-height: 30pt;
      }
    = yield :head
    %title<
      - if content_for?(:document_title)
        = "#{yield :document_title}"
  %body.bp
    = yield
