- semantic_form_for [@patient,@operation] do |f|
  = f.input :diagnosis_id, :as => :hidden, :input_html => { :value => params[:diagnosis_id] }
  - f.inputs do
    = f.input :procedure_id, :as => :select, :label => 'Procedure', :collection => Procedure.all.collect{ |p| [p.to_s, p.id] }
    = f.input :primary_surgeon_id, :label => 'Primary Surgeon'
    = f.input :secondary_surgeon_id, :label => 'Secondary Surgeon'
    = f.input :anesthesiologist_id, :label => 'Anesthesiologist'
    = f.input :date, :as => :string, :label => "Operation Date", :input_html => { :class => 'date' }
    = f.input :approach, :as => :select, :label => 'Approach', :collection => Operation::approaches
    = f.input :difficulty, :as => :radio, :label => "Difficulty", :collection => Operation::difficulty_table.invert
    = f.input :graft, :label => 'Graft?'
    = f.input :notes, :label => 'Notes'
    = f.input :ambulatory_order, :as => :select, :label => 'Ambulatory Order', :collection => Operation::ambulatory_orders
  - f.buttons do
    = f.commit_button