= semantic_form_for [parent,@operation] do |f|
  = f.semantic_errors
  - if params[:mode].present? && params[:mode] == "fix"
    = hidden_field_tag :mode, "fix"
  = f.input :trip_id, :as => :hidden
  = f.input :patient_id, :as => :hidden
  = f.input :diagnosis_id, :as => :hidden
  = f.input :patient_case_id, :as => :hidden
  = f.input :body_part_id, :as => :hidden
  = f.inputs do
    = f.input :approach, :as => :select, :label => 'Approach', :collection => Operation::approaches
    = f.input :difficulty, :as => :radio, :label => "Difficulty", :collection => Operation::difficulty_table.invert
    = f.input :graft, :label => 'Graft'
    = f.input :anesthesia_type, :as => :select, :label => 'Anesthesia', :collection => Operation::anesthsia_types
    = f.input :peripheral_nerve_block_type, :as => :select, :label => 'Peripheral Nerve Block', :collection => Operation::peripheral_nerve_block_types
    = f.input :ambulatory_order, :as => :select, :label => 'Ambulatory Order', :collection => Operation::ambulatory_orders
    = f.input :notes, :label => 'Notes'
  = f.inputs do
    = f.input :complete, :label => 'Procedure complete'
  .supplemental
    %p.fake_link.toggle= "Edit more details"
    .details{ :style => "display: none;" }
      = f.inputs do
        =# f.input :body_part_id, :as => :select, :label => 'Body Part', :collection => BodyPart.all.collect{ |bp| [bp.to_s, bp.id] }
        = f.input :procedure_id, :as => :select, :label => 'Procedure', :collection => Procedure.all.collect{ |p| [p.to_s, p.id] }
        = f.input :primary_surgeon_id, :as => :select, :label => 'Primary Surgeon', :collection => User.doctor
        = f.input :secondary_surgeon_id, :as => :select, :label => 'Secondary Surgeon', :collection => User.doctor
        = f.input :anesthesiologist_id, :as => :select, :label => 'Anesthesiologist', :collection => User.anesthesiologist
        = f.input :date, :as => :datepicker, :label => "Operation Date"
  = f.buttons do
    = f.commit_button