= semantic_form_for [parent,@operation] do |f|
  = f.semantic_errors
  = f.input :trip_id, :as => :hidden
  = f.input :patient_id, :as => :hidden
  = f.input :diagnosis_id, :as => :hidden
  = f.input :patient_case_id, :as => :hidden
  = f.input :body_part_id, :as => :hidden
  = f.inputs do
    =# f.input :body_part_id, :as => :select, :label => 'Body Part', :collection => BodyPart.all.collect{ |bp| [bp.to_s, bp.id] }
    = f.input :procedure_id, :as => :select, :label => 'Procedure', :collection => Procedure.all.collect{ |p| [p.to_s, p.id] }
    = f.input :primary_surgeon_id, :as => :select, :label => 'Primary Surgeon', :collection => User.doctor
    = f.input :secondary_surgeon_id, :as => :select, :label => 'Secondary Surgeon', :collection => User.doctor
    = f.input :anesthesiologist_id, :as => :select, :label => 'Anesthesiologist', :collection => User.anesthesiologist
    = f.input :date, :as => :datepicker, :label => "Operation Date"
  = f.buttons do
    = f.commit_button "Next &rarr;".html_safe