- options ||= {}
- html_class = ""
- html_class << " #{options[:size]}" if options[:size].present?
.operation.inline[operation]{ :class => html_class }
  %h4= operation
  %p.aux
    = operation.primary_surgeon
    - if operation.date
      = operation.date.to_s
  .navigation.noprint
    %ul
      - if permitted_to? :edit, operation
        %li.procedure= link_to "<span>Edit Procedure</span>".html_safe, edit_case_operation_path(operation.patient_case), :remote => true
        %li.implant
          - if operation.implant.present?
            = link_to "<span>Edit Implant</span>".html_safe, edit_operation_implant_path(operation), :remote => true
          - else
            = link_to "<span class=\"incomplete\">Add Implant</span>".html_safe, new_operation_implant_path(operation), :remote => true
      - if permitted_to? :show, operation
        %li.show= link_to "<span>Details</span>".html_safe, case_operation_path(operation.patient_case)
  .xrays
    = render :partial => "xrays/collection", :locals => { :operation => operation, :patient_case => operation.patient_case, :xrays => operation.patient_case.xrays.post_op, :editable => true }