- options ||= {}
- html_class = ""
- html_class << " #{options[:size]}" if options[:size].present?
.operation.inline[operation]{ :class => html_class }
  %h4= operation
  %p.aux
    = operation.primary_surgeon
    - if operation.date
      = operation.date.to_s
  .inline-navigation.noprint
    %ul
      - if permitted_to? :edit, operation
        %li= link_to "Edit Procedure", edit_case_operation_path(operation.patient_case), :remote => true
        %li
          - if operation.implant.present?
            = link_to "Edit Implant", edit_operation_implant_path(operation), :remote => true
          - else
            = link_to "Add Implant", new_operation_implant_path(operation), :remote => true, :class => :incomplete
      - if permitted_to? :show, operation
        -#%li.show= link_to "Details", case_operation_path(operation.patient_case)
      %li= render :partial => "xrays/collection", :locals => { :operation => operation, :patient_case => operation.patient_case, :xrays => operation.patient_case.xrays.post_op, :editable => true }
