- content_for :title do
  = resource
- content_for :subtitle do
  Edit Operation
- content_for :subnavigation do
  %ul.subnavigation
    %li= link_to "Operation overview", resource_path
    - if resource.implant.present?
      %li= link_to "Edit Implant", edit_operation_implant_path(resource)
    - else
      %li= link_to "Add Implant", new_operation_implant_path(resource)
    - if permitted_to? :destroy, resource
      %li= link_to "Delete operation", resource_path, :method => :delete, :confirm => "Are you sure? This will remove all data and xray records for this operation. This action cannot be undone."
.section
  = render :partial => "form"
