- content_for :title do
  = "Edit Operation - #{@operation}"
- content_for :subnavigation do
  %ul.subnavigation
    - if @operation.implant.present?
      = link_to "Edit Implant", edit_operation_implant_path(@operation)
    - else
      = link_to "Add Implant", new_operation_implant_path(@operation)

= render :partial => "form"
