- title = resource.to_s
- title << " - #{resource.anatomy}" if resource.anatomy.present?
- content_for :title do
  = "#{title} - Edit Operation"
- content_for :subnavigation do
  %ul
    %li= link_to "Operation overview", case_operation_path(resource.patient_case)
    - if resource.implant.present?
      %li= link_to "Edit Implant", edit_operation_implant_path(resource)
    - else
      %li= link_to "Add Implant", new_operation_implant_path(resource)
    - if permitted_to? :destroy, resource
      %li= link_to "Delete operation", case_operation_path(resource.patient_case), :method => :delete, :confirm => "Are you sure? This will remove all data and xray records for this operation. This action cannot be undone."
.section
  = render :partial => "form"
