- content_for :title do
  = "#{@patient_case} - Operations"
- collection.each do |operation|
  .operation
    %p
      = "#{operation.patient}: #{operation}"
      %span.nav
        = link_to "Edit", edit_operation_path(operation)
        - if operation.approach.blank?
          = link_to "[FIX]", edit_operation_path(operation, :mode => :fix), :class => "asterisk"
        