- content_for :title do
  Certificado de la Cirugía
- content_for :subtitle do
  = resource.patient

.section
  .summary
    %h2.date= "Fecha: #{resource.date}"
    %dl
      %dt Nombre del paciente
      %dd= resource.patient
      %dt Diagnostico
      %dd= resource.diagnosis
      %dt Cirugía
      %dd= resource.procedure
  - if resource.patient.photo.exists?
    .photo= patient_image(resource.patient, :small)
.section
  .xrays
    %h2 Rayos X
    - if resource.diagnosis.try(:xrays).present?
      .before
        %h3 Antes
        - resource.diagnosis.xrays.each do |xray|
          .xray= image_tag(xray.photo.url(:original))
    - if resource.xrays.present?
      .after
        %h3 Despues
        - resource.xrays.each do |xray|
          .xray= image_tag(xray.photo.url(:original))