- content_for :document_title do
  = "#{resource.patient} - #{resource.body_part} - #{resource.procedure}"
- content_for :title do
  Certificado de la Cirugía
- content_for :subtitle do
  = resource.patient

.section.summary
  - if resource.patient.photo.exists?
    .photo= patient_image(resource.patient, :small)
  .data
    %p
      %strong Nombre del paciente
      = resource.patient
    %p
      %strong Parte de Cuerpo
      = resource.body_part
    %p
      %strong Diagnostico
      = resource.disease
    %p
      %strong Cirugía
      = resource.procedure
    %p
      %strong Fecha
      = resource.date

.section.xrays
  %h2 Rayos X
  - if resource.patient_case.diagnosis_display_xray.present?
    .before
      %h3 Antes
      .xray= image_tag(resource.patient_case.diagnosis_display_xray.photo.url(:original))
  - if resource.display_xray.present?
    .after
      %h3 Despues
      .xray= image_tag(resource.display_xray.photo.url(:original))

- content_for :sponsor_org do
  -# TODO move this stuff to a presenter class
  - if resource.trip.country == "GT"
    = image_tag("organization/fundaorto_logo.png")
    %p
      Guillermo Claverie, M.D.
      %br/
      Presidente, Fundaorto
  - else
    = image_tag("organization/ni_hospital_militar_logo.png")
    %p
      Dr. Marco Salas
      %br/
      Jefe de Servicio de Orthopedia