- content_for :document_title do
  = "#{resource.patient} - #{resource.body_part} - #{resource.procedure}"
- content_for :title do
  Certificado de la Cirugía
- content_for :subtitle do
  = resource.patient

.section
  .summary
    %h2.date= "Fecha: #{resource.date}"
    %dl
      %dt Nombre del paciente
      %dd= resource.patient
      %dt Diagnostico
      %dd= resource.disease
      %dt Cirugía
      %dd= resource.procedure
  - if resource.patient.photo.exists?
    .photo= patient_image(resource.patient, :small)
.section
  .xrays
    %h2 Rayos X
    - if resource.display_xray.present?
      .before
        %h3 Antes
        .xray= image_tag(resource.display_xray.photo.url(:original))
    - if resource.display_xray.present?
      .after
        %h3 Despues
        .xray= image_tag(resource.display_xray.photo.url(:original))